doctype html 
html 
    head 
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/main.css")
        title= home 
    body
        div(id="main-wrapper") 
            div(class="main-box")
                div(class="main-box__dotted")
                    div(class="main-box__profile")
                        div(class="main-box__profile__pic")
                        p(class="main-box__profile__intro")= introduction 
                            a(href="/title/edit") 🔐 
                        div(class="main-box__link__wrap")
                            li
                                a(class="main-box__profile__link") gitgub 
                            li
                                a(class="main-box__profile__link") blog
                    div(class="main-box__board")
                        p(class="main-box__title")= title
                        div(class="main-")