doctype html 
html 
    head 
        meta(charset='utf-8')
        link(rel="stylesheet", href="/css/main.css")
        title= home 
    body
        div(id="main-wrapper") 
            div(class="main-box")
                form(action="/title/edit" method="post") 
                    div(class="main-box__dotted")
                        div(class="main-box__profile")
                            div(class="main-box__profile__pic")
                            div(class="introduction-wrap")
                                textarea(type="text" name="introduction" class="main-submit__introduction")=introduction                
                                input(type="submit" value="Edit" class="submit-botton")
                            div(class="main-box__link__wrap")
                                li 
                                    a(class="main-box__profile__link") gitgub 
                                li
                                    a(class="main-box__profile__link") blog
                        div(class="main-box__board")
                            input(type="text" name="title" value=title class="main-submit__title")